@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hiệu ứng nảy khi mở Popup */
@keyframes bounceIn {
  0% { transform: scale(0.9); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
.animate-bounce-in {
  animation: bounceIn 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28) forwards;
}